.modal {
  display: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  float: center;
  z-index: 5; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(4px);
}

.accountContent {
  border-radius: 25px;
  //margin: 15rem auto auto auto;
  margin: 7% auto auto auto;
  position: relative;
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.accountContent form {
  width: auto;
  font-family: "Roboto";
  text-align: center;
}

.accountModal input {
  box-shadow: 2.5px 1.25px 1.25px black;
  text-align: center;
  border-radius: 10px;
}

.labelContent label {
  //Centering it
  width: 100%;
  text-align: center;
}

.accountContent select {
  padding: 5px;
  border-radius: 10px;
}

.accountContent a {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: black;
}

.disconnect {
  background: linear-gradient(to right, rgba(203,45,62,1) 0%, rgba(239,71,58,1) 35%);
  color: white;
  border-radius: 15px;
  width: 7rem;
  height: 3rem;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  border-radius: 25px 25px 0 0;
  font-family: Lato;
  text-align: center;
  padding: 2px 16px;
  background-image: linear-gradient(
    to right,
    rgb(254, 102, 125),
    rgb(255, 163, 117)
  );
  color: white;
}

.modal-header h2 {
  padding-top: 0.5rem;
  color: white;
  text-align: center;
  width: 100%;
}

.accountContent hr {
  margin: 1rem auto 1rem auto;
  color: black;
  width: 75%;
}
