img{
    display: none;
}

  div.container {
    position:relative;
    margin-left: 25%;

  }

  .test{
    margin-left: 400px;
    padding: 10px;
    margin-bottom: 20px;
    position:relative;
    
    
   
  }

  .parent {
    border: 1px solid black;
    margin: 1rem;
    
    padding: 2rem 2rem;

    
    
  }