<!--begin booking modal-->
<div id="bookModal" class="modal">
    <div class="bookContent" id="bookContent">
        <div class="modal-header">
            <h2>Réservation</h2>
            <span class="close">&times;</span>
        </div>
        <form class="modal-body">
            <!--todo: maybe add checks so that the end time can't be before the begin time-->
            <!--todo can we book for multiple days ??-->
            <label for="dateB">Date du début: </label>
            <input type="datetime-local" id="dateB"><br/>
            <label for="dateE">Date fin: </label>
            <input type="datetime-local" id="dateE"><br/>
            <label for="reason">Motif: </label>
            <input type="text" id="reason"><br/>
            <label for="room">Salle: </label>
            <input type="text" id="room"><br/>
            <hr/>
            <button (click)="bookRoomSubmit()" class="bookSubmit">Réserver</button>
        </form>
    </div>
</div>
<!--end booking modal-->