<!-- Barre Navigation à insérer dans toutes les pages -->
<nav>
    <ul>
        <li>
            <!-- logo et nom -->
                <img src="../../assets/img/logoisen.jpg"
                    style="width:40px; border-radius: 50%; margin: auto 0.75rem auto 0.75rem" alt="Logo">
                    <a id="Logo" href="#" routerLink="/home" routerLinkActive="active" name="GoParcours"> CIRéservé </a>
        </li>
        <!-- Redirection vers parcours de Junia // accessible à tous -->
        <li>
            <a id="GoParcours" href="#" routerLink="/home" name="GoParcours">Parcours
                dans
                Junia
                ISEN</a>
        </li>
        <!-- Redirection vers réservation de salle // accessible à tous -->
        <li>
            <a id="GoReservation" href="#" routerLink="/book" name="GoReservation">Réservation
                de salle</a>
        </li>
        <!-- Redirections vers admin // accessible seulement aux admin -->
        <li *ngIf="this.authService.admin" class="dropdown">
            <a class="dropbtn" href="javascript:void(0)" role="button">Administration</a>
            <div class="dropdown-content">
                <a id="GoRegister" href="#" routerLink="/register" name="GoRegister">Création
                    de compte</a>
                <hr class="whiteHr" />
                <a id="GoModifPlan" href="#" name="GoModifPlan">Modification
                    du plan</a>
                <hr class="whiteHr" />
                <a id="GoResaPerm" href="#" name="GoResaPerm">Création
                    de réservation permanente</a>
                <hr class="whiteHr" />
                <a id="GoModifResa" href="#" name="GoModifResa">Modification
                    de réservation existente</a>
                <hr class="whiteHr" />
                <a id="GoParametre" name="GoParametre" class="showOption" (click)="showOptionModal()" >Paramètres
                    généraux</a>
            </div>
        </li>
        <!-- Account modal button -->
        <li class="nav-li">
            <app-account></app-account>
        </li>
    </ul>
</nav>

<!--begin the option modal-->
<div id="optionModal" class="modal">
    <div class="optionContent">
        <div class="modal-header">
            <h2>Options</h2>
            <span class="close">&times;</span>
        </div>
        <form class="modal-body">
            <label for="covidMode">Activer le mode COVID19 (capacité des salles divisée par 2): </label>
            <input type="checkbox" id="covidodo">
            <hr/>
            <button class="saveOption">Enregistrer</button>
        </form>
    </div>
</div>
<!--end booking modal-->