<div class='parent'>

    <div class="buttonGroup">
        <label for="selectDate">Heure & date de réservation</label>
        <input (change)="dateUpdateCallback()" type="date" id="selectDate" name="selectDate">
        <label for="beginTime">Début :</label>
        <input (change)="dateUpdateCallback()" type="time" name="beginTime" id="beginTime">
        <label for="endTime">Fin :</label>
        <input (change)="dateUpdateCallback()" type="time" name="endTime" id="endTime">
        <hr />
        <button (click)="clickBtn1()" id="btn1" type="button" class="">Etage 100</button>
        <button (click)="clickBtn2()" id="btn2" type="button" class="">Etage 2/300</button>
        <button (click)="clickBtn3()" id="btn3" type="button" class="current">Etage 4/500</button>
        <button (click)="clickBtn4()" id="btn4" type="button" class="">Etage 600</button>
        <button (click)="clickBtn5()" id="btn5" type="button" class="">Etage 7/800</button>
        <button (click)="clickBtn6()" id="btn6" type="button" class="">Etage 900</button>
    </div>


    <div id="etageContainer">
        <img id="current_etage" src="../../assets/img/400.png" alt="Etage 400" />
    </div>

</div>


<hr />

<!-- <script src="js/etages.js"></script> -->

<!-- Button trigger modal -->
<!-- To change into an <area> -->
<button type="button" class="roomInfoBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Informations sur la salle
</button>

<!-- Modal -->
<div class="modal fade" id="testModal" tabindex="-1" aria-labelledby="testModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="id_salle" id="testModalLabel">Salle </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">

                <h6> Statut réservation : </h6>

                <h6> Capacité salle : </h6>


                <h6> Projecteur :</h6>

                <h6> Nombre de prises :</h6>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Réserver</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>