<canvas id="mapCanvas">Your browser doesn't support the Canvas element...</canvas>

<!-- Button trigger modal -->
<!-- To change into an <area> -->
<button type="button" class="roomInfoBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Informations sur la salle
</button>

<!-- Modal -->
<div class="modal fade" id="testModal" tabindex="-1" aria-labelledby="testModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="id_salle" id="testModalLabel">Salle </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">

                <h6> Statut réservation : </h6>

                <h6> Capacité salle : </h6>


                <h6> Projecteur :</h6>

                <h6> Nombre de prises :</h6>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Réserver</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>