<div id="loginModal" class="modal">
  <div class="loginContent" id="loginContent">
    <div class="modal-header">
      <h2>Login</h2>
      <span class="close">&times;</span>
    </div>
    <form class="modal-body">
      <label for="login-email">Email</label><br />
      <input type="email" name="login-email" id="login-emailbegin" style="width: 55%; margin: auto 0.5rem auto 0.5rem">
      <select style="width:40%" id="login-emailend">
        <option value="@junia.com">@junia.com</option>
        <option value="@student.junia.com">@student.junia.com</option>
      </select>
      <hr />
      <label for="login-password">Mot de passe</label><br />
      <input type="password" name="login-password" id="login-password">
      <hr />
      <button class="submitLogin" (click)="submitLogin()">Connexion</button>
    </form>
  </div>
</div>