.bookings {
  font-family: Roboto, "Helvetica Neue";
}

.bookings h1 {
  font-family: Lato;
  width: 80%;
  font-size: 2rem;
  margin: 3rem 0 3rem 3rem;
  color: black;
  float: left;
  text-decoration: underline;
  text-shadow: 0.75px 0.75px rgba(0, 0, 0, 0.6);
}

.bookings button {
  float: right;
  font-size: 1.25rem;
  margin: 2rem 3rem 3rem;
  border: 1px solid black;
  color: white;
  font-family: Lato, Arial;
  padding: 0.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(
    to right,
    rgb(254, 102, 125),
    rgb(255, 163, 117)
  );
  border-radius: 7px;
}

.bookings hr {
  width: 80%;
  margin-left: 10%;
  margin-top: 3rem;
}

.bookingHeader {
    margin-top: 20px;
    height: 100px;
}

.bookings table {
  width: 75%;
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.6);
  border-radius: 3px;
}

//Setting cols size
.date {
  width: 15%;
}

.why {
  width: 75%;
}

.room {
  width: 10%;
}

tr {
  border-bottom: rgb(0, 0, 0, 0.5) solid 1px;
  border-width: 80%;
}

.tableHead {
  color: white;
  font-family: Lato, Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(254, 102, 125),
    rgb(255, 163, 117)
  );
  border-bottom: rgb(0, 0, 0, 0.5) solid 1px;
}
