<div class="bookings">
    <div class="bookingHeader">
        <h1>Mes réservations</h1>
        <button (click)="showBookModal()" class="showBook">Ajouter une réservation</button>
    </div>
    <hr /><br />
    <table>
        <tr class="tableHead">
            <th class="date">Date</th>
            <th class="room">Salle</th>
            <th class="why">Motif</th>
        </tr>
        <tr>
            <td>12/24 12h25, 12/24 16h12</td>
            <td>C956</td>
            <td>fioghriojgprjioepoerjpoejpogjfmiogjtrhotriohgreio</td>
        </tr>
        <tr>
            <td>12/24 12h25, 12/24 16h12</td>
            <td>C956</td>
            <td>fioghriojgprjioepoerjpoejpogjfmiogjtrhotriohgreio</td>
        </tr>
        <tr>
            <td>12/24 12h25, 12/24 16h12</td>
            <td>C956</td>
            <td>fioghriojgprjioepoerjpoejpogjfmiogjtrhotriohgreio</td>
        </tr>
        <tr>
            <td>12/24 12h25, 12/24 16h12</td>
            <td>C956</td>
            <td>fioghriojgprjioepoerjpoejpogjfmiogjtrhotriohgreio</td>
        </tr>
        <tr>
            <td>12/24 12h25, 12/24 16h12</td>
            <td>C956</td>
            <td>fioghriojgprjioepoerjpoejpogjfmiogjtrhotriohgreio</td>
        </tr>
    </table>
</div>
