html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
}

app-navbar {
    min-height: 15%;
}

app-foooter {
    flex-shrink: 0;
    min-height: 10%
}
