html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('../assets//fonts/roboto.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin-bottom:60px;
}