.navBut {
    text-align: center;
    margin: 14px 16px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 0.5rem;
    background-color: transparent;
}