<div class="registerF">
    <h1>INSCRIPTION</h1>
    <form id="register" class="topBefore">
        <input id="name" type="text" placeholder="NAME">
        <input id="email" type="text" placeholder="E-MAIL">
        <input id="password" type="text" placeholder="PASSWORD">
        <!--<input id="promo" type="text" placeholder="PROMO">-->.
        <select id="promo" class="selectProm">
            <option value="CIR1">CIR1</option>
            <option value="CIR2">CIR2</option>
            <option value="CIR3">CIR3</option>
            <option value="CNB1">CNB1</option>
            <option value="CNB2">CNB2</option>
            <option value="CNB3">CNB3</option>
            <option value="CPG1">CPG1</option>
            <option value="CPG2">CPG2</option>
            <option value="CPG3">CPG3</option>
            <option value="M1">M1</option>
            <option value="M2">M2</option>
            <option value="professeur">professeur</option>
            <option value="externe">externe</option>
        </select><br/><br/><br/>
        <input id="submit" type="submit" value="VALIDER INSCRIPTION">
    </form>
</div>