<div class="registerF">
    <h1>INSCRIPTION</h1>
    <form id="register" class="topBefore">
        <input id="name" type="text" placeholder="NAME">
        <input id="email" type="text" placeholder="E-MAIL">
        <input id="password" type="text" placeholder="PASSWORD">
        <!--<input id="promo" type="text" placeholder="PROMO">-->
        <select id="promo" class="selectProm">
            <option value="2">CIR1</option>
            <option value="3">CIR2</option>
            <option value="4">CIR3</option>
            <option value="8">CNB1</option>
            <option value="9">CNB2</option>
            <option value="10">CNB3</option>
            <option value="5">CPG1</option>
            <option value="6">CPG2</option>
            <option value="7">CSI3</option>
            <option value="11">M1</option>
            <option value="12">M2</option>
            <option value="1">professeur</option>
            <option value="-1">externe</option>
            <option value="0">administrateur</option>
        </select>
        <br/>
        <br/>
        <br/>
        <button class="submitRegister" (click)="submitRegister()">VALIDER INSCRIPTION</button>
    </form>
</div>